---
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import type { GetStaticPaths } from "astro";

import PoetryLayout from "@layouts/poetry.astro";

export const getStaticPaths = (async () =>
  (await getCollection("poetry"))?.map((x) => ({
    params: { slug: x.slug },
    props: { entry: x },
  }))) satisfies GetStaticPaths;

interface Props {
  entry: CollectionEntry<"poetry">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const related =
  entry.data.related !== undefined
    ? await Promise.all(entry.data.related.map((x: any) => getEntry(x)))
    : [];

const relatedContent = await Promise.all(
  related.map(async (x) => {
    const { Content: X } = await x!.render();
    return X;
  }),
);
---

<PoetryLayout title={entry.data.title} lang={entry.data.lang[0]}>
  <Content slot="verse" />

  {
    relatedContent.length != 0 && (
      <div slot="related-div">
        {relatedContent.map(
          (X) =>
            X !== undefined && (
              <div class="related">
                <X />
              </div>
            ),
        )}
      </div>
    )
  }
</PoetryLayout>
