---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>This user is becoming wvlab's slave... In process... Kind of...</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    {% include mainpage.html %}
    <div class="centered">
        <noscript><h1>You can't use account if you block JS</h1></noscript>
        <h1>Login</h1>
        <form class="login-form" style="padding-bottom: 50px;">
            <div id="uname" class="input-field">
                <label for="uname">Username</label>
                <input type="text" placeholder="Enter Username" name="uname" autocomplete="username">
            </div>

            <div id="email" class="input-field">
                <label for="email">&nbsp;&nbsp;&nbsp;Email</label> <!-- TODO: find better solution to align -->
                <input type="text" placeholder="Enter Email" name="email" autocomplete="email">
            </div>

            <div id="passwd" class="input-field">
                <label for="passwd">Password</label>
                <input type="password" placeholder="Enter Password" name="passwd" autocomplete="new-password">
            </div>

            <div id="validate" class="input-field">
                <label for="validate">Validate</label>
                <input type="password" placeholder="Validate Password" name="validate" autocomplete="none">
            </div>
        </form>
        <div class="change-form">
            <a href="#" class="sing-up">[Sing Up]</a>&nbsp;
            <a href="#" class="sign-in inactive">[Sign In]</a>
        </div>
        <a href="#" class="submit">[Submit]</a>

        <div class="for-error">
        </div>

        <details id="forgot-passwd" class="hide" style="padding-top: 50px;">
            <summary>I forgot password, what to do now?</summary>
            Write me from your email to wvlab@protonmail.com!<br>
            I'll send you password reset letter then
        </details>
    </div>
    <script type="module">
        {% include firebaseinit.js %}
        if (auth) {
            window.location.replace("/user");
        }
        let mstate = 0; // 0 means sign-in, 1 means sign-up
        const toHide = [
            "uname",
            "validate",
        ];
        const toShow = [
            "forgot-passwd",
        ];

        const signUpButton = document.querySelector(".sing-up");
        const signInButton = document.querySelector(".sign-in");
        const submitButton = document.querySelector(".submit");

        signUpButton.addEventListener("click", () => {
            mstate = 1;
        
            for (const elemId of toHide) {
                document.getElementById(elemId).classList.remove("hide")
            }
            for (const elemId of toShow) {
                document.getElementById(elemId).classList.add("hide")
            }

            signUpButton.classList.remove("inactive");
            signInButton.classList.add("inactive");
        });

        signInButton.addEventListener("click", () => {
            mstate = 0;

            for (const elemId of toHide) {
                document.getElementById(elemId).classList.add("hide")
            }
            for (const elemId of toShow) {
                document.getElementById(elemId).classList.remove("hide")
            }

            signInButton.classList.remove("inactive");
            signUpButton.classList.add("inactive");
        });

        const errorDiv = document.querySelector(".for-error");
        submitButton.addEventListener("click", () => {
            const uname = document.getElementsByName("uname")[0].value
            const email = document.getElementsByName("email")[0].value
            const passwd = document.getElementsByName("passwd")[0].value
            const validate = document.getElementsByName("validate")[0].value

            if (mstate === 1){
                if (!uname) {
                    errorDiv.innerHTML = "Username is empty!";
                    return;
                }
                if (passwd !== validate) {
                    errorDiv.innerHTML = "Passwords aren't the same!";
                    return;
                }
            }

            if (!passwd) {
                errorDiv.innerHTML = "Password is empty!";
                return;
            }

            if (!email) {
                errorDiv.innerHTML = "Email is empty!";
                return;
            }

            let pr;
            if (mstate === 0) {
                pr = signInWithEmailAndPassword;
            } else if (mstate === 1) {
                pr = createUserWithEmailAndPassword;
            } else {
                errorDiv.innerHTML = "Wrong state... Developer skill issue";
                return;
            }

            pr(auth, email, passwd)
                .then((Credential) => {
                    window.location.replace("/user");
                })
                .catch((error) => {
                    errorDiv.innerHTML = error.message;
                })
        });
    </script>
</body>

</html>
