@use "sass:color";

$accent-color: #d290a6;

html {
    font-family: monospace;
    font-size: 1.1em;
}

body {
    color: #ffffff;
    background-color: #000000;
}

h2 {
    &.title {
        color: $accent-color;
        text-align: center;
    }
}

div {
    &.centered {
        text-align: center;
    }

    &.prose {
        margin-left: 5%;
        margin-right: 5%;
    }
    &.poetry {
        display: flex;
        justify-content: center;
        text-align: left;
    }
}

a {
    text-decoration: none;

    &:link {
        color: $accent-color;
    }

    &:visited {
        color: $accent-color;
    }

    &:hover {
        color: color.scale($accent-color, $lightness: 15%);
    }

    &:active {
        color: $accent-color;
    }

    &.filter-link.inactive {
        color: grey;
    }
}
