@use "sass:color";

$accent-color: #d290a6;

html {
    font-family: monospace;
    font-size: 1.1em;
}

body {
    color: #ffffff;
    background-color: #000000;
}

h2 {
    &.title {
        color: $accent-color;
        text-align: center;
    }
}

div {
    &.centered {
        text-align: center;
    }

    &.prose {
        margin-left: 5%;
        margin-right: 5%;
    }

    &.poetry {
        display: flex;
        justify-content: center;
        text-align: left;
    }

    &.related {
        position: relative;
        padding-top: 1.5vw;
        padding-left: 3vw;
        padding-right: 3vw;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-top: 2px solid $accent-color;
            border-left: 2px solid $accent-color;
            width: 30%;
            height: 10%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 2px solid $accent-color;
            border-right: 2px solid $accent-color;
            width: 3%;
            height: 15%;
        }
    }
}

a {
    text-decoration: none;

    &:link {
        color: $accent-color;
    }

    &:visited {
        color: $accent-color;
    }

    &:hover {
        color: color.scale($accent-color, $lightness: 15%);
    }

    &:active {
        color: $accent-color;
    }

    &.filter-link.inactive {
        color: grey;
    }
}

span {
    &.caret {
        animation: blink 1s step-end infinite;
    }
}

img {
    width: 50%;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
