---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>This user is becoming wvlab's slave... In process... Kind of...</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    {% include mainpage.html %}

    <div class="centered">
        <h1>You are logged in now!</h1>
    </div>
    <script type="module">
        {% include firebaseinit.js %}
    </script>
</body>

</html>
