---
import MainPageAnchor from "@components/MainPageAnchor.astro";
import DefaultLayout from "@layouts/default.astro";
const title = "Перфекционизм. Странная хворь";
const lang = "ru";
---

<DefaultLayout title={title} lang={lang}>
  <body>
    <MainPageAnchor />

    <div class="article">
      <div class="centered">
        <img style="max-width:25%;" src="/images/perfect_image.jpg" />
      </div>
      <p>
        Перфекционизм - это отказ принятия несовершенного варианта или
        требования более высокого качества исполнения, чем того требует ситуация
        Это одномерное определение, хотя много исследователей пытаются показать
        многомерную структуру перфекционизма(модель Хьюитта-Флетта, как пример,
        они определили перфекционизм аж в 6 измерениях) Условно разделим
        перфекционизм на 2 типа: адаптивный и дизадаптивный.
      </p>

      <p>
        В центре дизадаптивного перфекционизма - прямая зависимость оценки себя
        от достижений и только от них. В чём проблемы? В том, что самооценка при
        таком виде перфекционизма хрупкая, непостоянная, что вызывает ворох
        проблем. У нормальных, здоровых людей самооценка строится на многих
        параметрах, например качество дружбы, отношение к природе, отношение к
        людям, свои достижения, чувство юмора, количество опыта и так далее.
      </p>

      <p>
        Чем больше ступеней(ценностей, отношений) в иерархии личности - тем
        лучше, тем стабильнее будет ваша самооценка, а значит тем стабильнее
        ваше поведение. Это одна из черт эмоционально зрелых людей.
      </p>

      <p>
        Причин перфекционизма очень много и структурировать их невероятно
        сложно. Но это может быть художник-дизайнер, ищущий заверения качества
        его работы; это может быть студент или ученик, коий хочет следовать
        чересчур высоким стандартам поставленных родителями и/или учреждением. В
        этих примерах показаны не слишком плохие ситуации, но может быть случай,
        где человек планирует свой день наперёд по несколько часов и когда он не
        сходится хотя бы на тысячную долю - начинает очень сильно раздражаться,
        выделяется кортизол.
      </p>
      <p>
        Дисфункциональный, дизадаптивный перфекционизм сопровождается ущербом
        для своего физического и ментального здоровья
      </p>

      <p>
        Перфекционизм в рамках КПТ - синдром, присущий другим заболеваниям,
        обычно, тревожной группы, а степень вреда и тяжести варьируется от
        никакой до очень высокой. Перфекционизм есть у всех, а некоторым вредит,
        просто некоторым он наоборот полезен, это как градиент.
      </p>

      <p>
        По биопсихосоциальному подходу перфекционизм имеет 3 причины:
        <ul>
          <li>
            Влияние межличностных отношений: чаще исследования акцентируются на
            отношениях дитё - родитель. Родительский перфекционизм до ребёнка
            коррелирует с перфекционизмом. В практике очень часто встречаются
            фразы "Я всегда был перфекционистом", "Кто-то хотел, чтобы я был
            идеальным"
          </li>
          <li>
            Факторы обучения и научения: тут уже смотрим на всё с точки зрения
            бихевиоризма. Попытки добиться вершины пытались подкрепить, обычно
            негативными подкреплениями(меня не будут ругать, если я буду
            первым). Реже подкрепляют позитивными подкреплениями, но проблема в
            неправильной подаче подкреплений, например "Ты не получишь награды,
            если будешь вторым"
          </li>
          <li>
            Генетические: пока что, точных данных нету, однако некоторые
            исследования говорят о возможной корреляции
          </li>
        </ul>
      </p>
      <p>
        В конце можно сказать, что перфекционизм - трансдиагностический
        компонент более сложных психических расстройств, чаще всего возникает по
        психосоциальных причинам. Является не очень желательной частью личности
      </p>
    </div>
    <MainPageAnchor />
  </body>
</DefaultLayout>
