@import "variables";

html {
    font-family: monospace;
    font-size: 1.1em;

}

body, input, textarea, select {
    color: #ffffff;
    background-color: #000000;
}

input, textarea, select {
    border: 0;
    outline: none !important;
}

h2, h1 {
    &.title {
        color: $accent-color;
        text-align: center;
    }
}

.centered {
    text-align: center;
}

div {
    &.prose {
        margin: auto;
        max-width: $mwidth;
    }

    &.article {
        margin: auto;
        max-width: $mwidth;
    }

    &.related {
        margin: auto;
        position: relative;
        padding-top: 1.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        max-width: $mwidth;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-top: 2px solid $accent-color;
            border-left: 2px solid $accent-color;
            width: 30%;
            height: 10%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 2px solid $accent-color;
            border-right: 2px solid $accent-color;
            width: 3%;
            height: 15%;
        }
    }
}

div {
    @mixin center-poem($display: flex) {
        display: $display;
        justify-content: center;
    }

    &.poetry {
        @include center-poem;
        margin: auto;
        text-align: left;
        max-width: $mwidth;
    }

    &.verse-wrapper {
        margin: 0 auto;
    }

    &.verse {
        @include center-poem;
        flex-direction: column;
    }
}

.hide {
    visibility: hidden;
}

a {
    text-decoration: none;

    &:link {
        color: $accent-color;
    }

    &:visited {
        color: $accent-color;
    }

    &:hover {
        color: $highlight-color;
    }

    &:active {
        color: $accent-color;
    }

    &.inactive {
        color: $inactive-color;
    }
}

span {
    &.caret {
        animation: blink 1s step-end infinite;
    }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
