---
import DefaultLayout from "@layouts/default.astro";
import PageBar from "@components/PageBar.astro";
import Social from "@components/Social.astro";
import ContentList from "@components/ContentList.astro";
import RandomSaying from "@components/RandomSaying.astro";
---

<DefaultLayout title="exec ~/.wvlab">
  <PageBar>
    <Social slot="center-align" />
    <a slot="right-align" class="inactive profile-link">[login|profile]</a>
  </PageBar>

  <div class="centered">
    <p>&nbsp;Who am I?<span class="caret">|</span></p>
    <RandomSaying />
  </div>
  <ContentList />
</DefaultLayout>

<script>
  import { onAuthStateChanged } from "firebase/auth";
  import { auth } from "@scripts/firebaseinit";

  const profLink = document.querySelector(".profile-link")!;
  profLink.classList.remove("inactive");

  onAuthStateChanged(auth, (user) => {
    profLink.setAttribute("href", user ? "/user" : "/login");
  });
</script>
