---
import DefaultLayout from "@layouts/default.astro";
import MainPageAnchor from "@components/MainPageAnchor.astro";
import LoginForm from "@components/LoginForm.astro";
---

<DefaultLayout
    title="This user is becoming wvlab's slave... In process... Kind of..."
>
    <MainPageAnchor />
    <noscript><h1>You can't use accounts if you block JS</h1></noscript>
    <LoginForm />
</DefaultLayout>
