---
export type Props = { children?: any[] };
---

<style lang="scss">
  /* needs to be scss, media queries doesn't work in astro... */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .left-align {
    margin-right: auto;
  }
  @media screen and (min-width: 480px) {
    .center-align {
      margin: 0 auto;
      position: absolute;
    }
  }
  .right-align {
    margin-left: auto;
  }
</style>

<div class="container">
  <div class="left-align">
    <slot name="left-align"><div></div></slot>
  </div>
  <div class="center-align">
    <slot name="center-align" />
  </div>
  <div class="right-align">
    <slot name="right-align"><div></div></slot>
  </div>
</div>
