---
export type Social = Record<string, never>;
---

<div class="centered">
  <!-- I dunno why, but don't realign it in a good way -->
  <a href="mailto:wvlab@murena.io">[Email]</a>&nbsp;<a
    href="http://github.com/wvlab">[Git]</a
  >&nbsp;<a href="http://t.me/wvlab">[Telegram]</a>
</div>
