<!DOCTYPE html>
<html lang={{ page.lang }}>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="centered">
        <a href="/index.html">[Main Page]</a>
    </div>

    <div class="poetry">
        <div>
            {% if page.title != "unnamed" %}
            <h2 class="title">{{ page.title }}</h2>
            {% endif %}
            
            {{ content }}
        </div>
    </div>

</body>

</html>
