<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>

    {% include mainpage.html %}

    {% if page.title != "unnamed" %}
    <h2 class="title">{{ page.title }}</h2>
    {% endif %}
    <div class="prose">
        {{ content }}
    </div>

    {% include mainpage.html %}

</body>

</html>
