---
import DefaultLayout from "@layouts/default.astro";
import MainPageAnchor from "@components/MainPageAnchor.astro";

const { title, lang } = Astro.props;

interface Props {
  title?: string;
  lang: string;
}
---

<DefaultLayout title={title || "unnamed"} lang={lang}>
  <MainPageAnchor />
  <div class="poetry">
    <div>
      {title !== undefined && <h2 class="title">{title}</h2>}

      <div class="verse">
        <div class="verse-wrapper">
          <slot name="verse" />
        </div>
      </div>
    </div>
  </div>
  <MainPageAnchor />
</DefaultLayout>
