---
import DefaultLayout from "@layouts/default.astro";
import Related from "@components/Related.astro";
import MainPageAnchor from "@components/MainPageAnchor.astro";

const {
  frontmatter: { title, lang, related },
} = Astro.props;

interface Props {
  frontmatter: {
    title?: string;
    lang: string;
    related?: string;
  };
}
---

<DefaultLayout title={title || "unnamed"} lang={lang}>
  <MainPageAnchor />
  <div class="poetry">
    <div>
      {title != "unnamed" && <h2 class="title">{title}</h2>}

      <div class="verse">
        <div class="verse-wrapper">
          <slot />
        </div>
      </div>
      {related !== undefined && <Related text={related} />}
    </div>
  </div>
  <MainPageAnchor />
</DefaultLayout>
